<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="/user">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="/institution">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="/group">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
        <a href="/moviment">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-money-bill-trend-up"></i><br>
                Movimentos
            </div>
        </a>
    </nav>
    </div>
    
    <div class="col-10 view-conteudo">

        {{>_msg}}
        
        {{#if user.issue.validation}}
            {{#each user.erros}}
                <div class="alert alert-danger">{{texto}}</div>
            {{/each}}
        {{/if}}

        <form method="post", class="form-padrao">
            <input type="hidden" value="{{user.data.id}}" name="id">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>CPF</span>
                        <input type="text" name="cpf" placeholder="CPF" value="{{user.data.cpf}}">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Nome</span>
                        <input type="text" name="name" placeholder="Nome" value="{{user.data.name}}">
                    </label>
                </div>
                <div class="w-100"></div>
                <div class="col-6">
                    <label>
                        <span>Phone</span>
                        <input type="text" name="phone" placeholder="Phone" value="{{user.data.phone}}">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Email</span>
                        <input type="text" name="email" placeholder="Email" value="{{user.data.email}}">
                    </label>
                </div>
                <div class="w-100"></div>
                                <div class="col-6">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password" placeholder="Password">
                    </label>
                </div>
                 <div class="col-6">
                    <label class="submit">
                    <input type="submit" value="Cadastrar">
                    </label>            
                </div>
            </div>
        </form>

    </div>


</div>