<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="/user">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="/institution">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="/group">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
    </nav>
    </div>
    
    <div class="col-10 view-conteudo">

        {{>_msg}}
        
        {{#each feedback.erros}}
            <div class="alert alert-danger">{{texto}}</div>
        {{else}}
        {{/each}}

        <form method="post", class="form-padrao">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>CPF</span>
                        <input type="text" name="cpf" placeholder="CPF">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Nome</span>
                        <input type="text" name="name" placeholder="Nome">
                    </label>
                </div>
                <div class="w-100"></div>
                <div class="col-6">
                    <label>
                        <span>Phone</span>
                        <input type="text" name="phone" placeholder="Phone">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Email</span>
                        <input type="text" name="email" placeholder="Email">
                    </label>
                </div>
                <div class="w-100"></div>
                                <div class="col-6">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password" placeholder="Password">
                    </label>
                </div>
                 <div class="col-6">
                    <label class="submit">
                    <input type="submit" value="Cadastrar">
                    </label>            
                </div>
            </div>
        </form>

        <table class="default-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>CPF</td>
                    <td>Nome</td>
                    <td>Telefone</td>
                    <td>Nascimento</td>
                    <td>E-mail</td>
                    <td>Status</td>
                    <td>Permissao</td>
                    <td>Menu</td>
                </tr>
            </thead>

            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{cpf}}</td>
                        <td>{{name}}</td>
                        <td>{{phone}}</td>
                        <td>{{birth}}</td>
                        <td>{{email}}</td>
                        <td>{{status}}</td>
                        <td>{{permission}}</td>
                        <td>
                            <form action="/user/delete" method="post">
                                <input type="hidden" name="id" value={{id}}>
                                <button>Remover</button>
                            </form>
                            <a href="/user/{{id}}/edit">Editar</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


</div>