<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="/user">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="/institution">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="/group">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
    </nav>
    </div>
    
    <div class="col-10 view-conteudo">

        {{>_msg}}
        
        {{#if erros}}
            <div class="alert alert-danger">{{erros}}</div>
        {{else}}
        {{/if}}

        {{group.data.user.id}}

        <form method="post" class="form-padrao">
            <input type="hidden" value="{{group.data.id}}" name="id">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>Nome do Grupo</span>
                        <input type="text" name="name" value="{{group.data.name}}">
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <span>Usuario</span>
                        <select name="user_id" class="custom-select">
                            <option value={{group.data.user_id}}>{{group.data.user.name}}</option>
                            <option disabled>---------</option>
                            {{#each users}}
                                <option value={{id}}>{{name}}</option>
                            {{else}}
                                <option value="-1">Nenhum usuario registrado</option>
                            {{/each}}
                        </select>
                    </label>
                </div>

                <div class="w-100"></div>
                
                <div class="col-6">
                    <label>
                        <span>Instituição</span>
                        <select name="institution_id" class="custom-select">
                            <option value={{group.data.institution_id}} selected>{{group.data.institution.name}}</option>
                            <option disabled>---------</option>
                            {{#each institutions}}
                                <option value={{id}}>{{name}}</option>
                            {{else}}
                                <option value="0">Nenhuma instituicao registrada</option>
                            {{/each}}
                        </select>
                    </label>
                </div>
                <div class="col-6">
                    <label class="submit">
                        <input type="submit" value="Cadastrar">
                    </label>
                </div>
            </div>
        </form>               
    </div>
</div>