<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="/user">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="/institution">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="/group">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
    </nav>
    </div>
    
    <div class="col-10 view-conteudo">

        {{>_msg}}
        
        {{#each feedback.erros}}
            <div class="alert alert-danger">{{texto}}</div>
        {{else}}
        {{/each}}


        <form method="post" class="form-padrao">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>Nome do Grupo</span>
                        <input type="text" name="name" placeholder="Nome do Grupo">
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <span>Usuario</span>
                        <select name="user_id" class="custom-select">
                            <option value="" selected disabled hidden>Selecione o usuario</option>
                            {{#each users}}
                                <option value={{id}}>{{name}}</option>
                            {{else}}
                                <option value="1">Nenhum usuario registrado</option>
                            {{/each}}
                        </select>
                    </label>
                </div>

                <div class="w-100"></div>
                <div class="col-6">
                    <label>
                        <span>Instituição</span>
                        <select name="institution_id" class="custom-select">
                            <option value="" selected disabled hidden>Selecione a instituição</option>
                            {{#each institutions}}
                                <option value={{id}}>{{name}}</option>
                            {{else}}
                                <option value="0">Nenhuma instituicao registrada</option>
                            {{/each}}
                        </select>
                    </label>
                </div>
                <div class="col-6">
                    <label class="submit">
                        <input type="submit" value="Cadastrar">
                    </label>
                </div>
            </div>
        </form>

        <table class="default-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Nome do grupo</td>
                    <td>Instituição</td>
                    <td>Nome do responsavel</td>
                    <td>opfções</td>
                </tr>
            </thead>

            <tbody>
                {{#each groups}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>
                            <form action="/institution/delete" method="post">
                                <input type="hidden" name="id" value={{id}}>
                                <button>Remover</button>
                            </form>                            
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
               
    </div>
</div>