<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="/user">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="/institution">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="/group">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
    </nav>
    </div>
    
    <div class="col-10 view-conteudo">

        <header>
            <h1>Nome do grupo: {{group.name}}</h1>
            <h2>Instituição: {{group.institution.name}}</h2>
            <h2>Responsavel: {{group.user.name}}</h2>
        </header>

        {{>_msg}}

        {{#each feedback.erros}}
            <div class="alert alert-danger">{{texto}}</div>
        {{else}}
        {{/each}}

        <form method="post" class="form-padrao">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>Usuário</span>
                        <select name="user_id" class="custom-select">
                            <option value="" selected disabled hidden>Selecione o usuario</option>
                            {{#each users}}
                                <option value={{id}}>{{name}}</option>
                            {{else}}
                                <option value="0">Nenhum usuario registrado</option>
                            {{/each}}
                        </select>
                    </label>
                </div>
                <div class="col-6">
                    <label class="submit">
                        <input type="submit" value="Relacionar ao grupo: {{group.name}}">
                    </label>
                    <input type="hidden" name="group_id" value="{{group.id}}">
                </div>
            </div>
        </form>

        <table class="default-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>CPF</td>
                    <td>Nome</td>
                    <td>Telefone</td>
                    <td>Nascimento</td>
                    <td>E-mail</td>
                    <td>Status</td>
                    <td>Permissao</td>
                    <td>Menu</td>
                </tr>
            </thead>

            <tbody>
                {{#each usersGroup}}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.cpf}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.birth}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.status}}</td>
                        <td>{{user.permission}}</td>
                        <td>
                            <form action="/user/delete" method="post">
                                <input type="hidden" name="id" value={{user.id}}>
                                <button>Remover</button>
                                <a href="/user/{{user.id}}/edit">Editar</a>
                            </form>                            
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>